<launch>
  <include file="$(find spot_collector)/launch/points.launch"/>
  <node name="$(anon multi_pick_and_place)" pkg="spot_collector" type="pick_place_srv.py" output="screen" required='true'/>
  <node name="$(anon video_pub_py)" pkg="spot_collector" type="yolo_garbage_spot.py" output="screen" required='true'/>
</launch>